<h1>Patient: <%= @patient.name %></h1>
<h3>Appointments: </h3>
<% @patient.appointments.each do |a| %>
    <p>Date: <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M")%></p>
    <p>Doctor: <%=link_to a.doctor.name, doctor_path(a.doctor) %></p>
<% end %>