<h1>Name: <%= @doctor.name %></h1>
<h3>Department: <%= @doctor.department %></h3>
<h3>Appointments: </h3>
<% @doctor.appointments.each do |a| %>
    <p>Date: <%= a.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></p>
    <p>Patient: <%=link_to a.patient.name, patient_path(a.patient) %></p>
<% end %>